
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="container my-3">
    <div class="text-center text-success h2">
        You have successfully tried!✔
    </div>
    <div class="text-center text-danger h1"> Congratulations on your new home from the Housing team. 👏👏👏</div>
</div>