[*.cs]

# Default severity for all analyzer diagnostics
dotnet_analyzer_diagnostic.severity = silent

# CS0168: ѕеременна€ объ€влена, но не используетс€
dotnet_diagnostic.CS0168.severity = silent

# CS8600: ѕреобразование литерала, допускающего значение NULL или возможного значени€ NULL в тип, не допускающий значение NULL.
dotnet_diagnostic.CS8600.severity = silent

# CS1998: ¬ асинхронном методе отсутствуют операторы await, будет выполнен синхронный метод
dotnet_diagnostic.CS1998.severity = silent

# CS8603: ¬озможно, возврат ссылки, допускающей значение NULL.
dotnet_diagnostic.CS8603.severity = silent
