html {
  font-size: 14px;
}


.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
  margin: 0;
  padding: 0;
}
.container-pad{
    margin: 0;
    padding: 0;
}

body {
    margin-bottom: 60px;
    font-family: 'Roboto', sans-serif;
}
.role-page{
    padding: 0 130px;
}
/*header*/
nav {
    background-color: #0D263B;
    padding: 5px 130px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 10vh;
}

.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    height: 3px;
    width: 25px;
    background-color: #fff;
    margin: 5px;
    transition: transform 0.5s linear;
}
.nav-links{
    list-style-type: none;
    display: flex;
    align-items: center;
}
.nav-links li{
    margin: 0 15px;
    margin-top: 15px;
}
.nav-links li a{
    text-decoration: none;
    font-size: 18px;
}
.nav-links li a:active{
    color: firebrick;
    transition: all 0.5s linear;
}
.logo-text{
    font-size: 18px;
    margin-top: 10px;
    padding-left: 20px;
}

/*OwnerList */
.ownerCreatepage{
    width: 100%;
    max-width: 900px;
}
/*list pages*/
.list-page {
    padding: 30px;
    font-size: 16px;
}
/*lists pages*/
.close-X {
    display: none;
    cursor: pointer;
    transform: scale(1.4);
}

.btn-section {
    display: flex;
}
.add-section-btn {
    display: none;
    justify-content: center;
    align-items: center;
}
/*main section*/

.carousel{
    position: relative;
}
.dark-black{
    position: absolute;
    top: 0;
    left:0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    height: 520px;
}
.text-image{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
.text-image h1, p, h3{
    color: #fff;
    text-align: center;
    transform: scale(1.6)
}
.main {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 1440px;
}
.home-main{
    width: 100%;
    max-width: 1440px;
}
.why-choose {
    background: #F5F7FC;
    width: 100%;
    padding: 30px 0;
    display: flex;
    justify-content: center;
    flex-direction:column;
    align-items: center;
}
.section-home{
    margin: 0;
    padding:0;
}

.rows-why {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
    width: 100%;
}
.card-why{
    width: 25%;
    padding: 10px;
    margin: 5px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
.card-why img{  
    width: 15%;
    margin: 10px 0;
}
.card-why h3{
    font-size: 14px;
    color: black;
    margin: 10px 0;
}
.card-why p{
    font-size: 10px;
    color: #696969;
    padding: 10px;
    width: 65%;
    margin: 10px 0;
}

.container-main {
    margin: 0;
    padding: 0;
}
.carousel{
    margin-top: 20px;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
}

/*Table Auto layoout*/
.table-auto-layout{
    width: 100%;
    max-width: 1440px;
    overflow: auto;
}
/*recommend styles*/
.recommend {
    padding: 30px 0;
    margin: 30px 0;
}

.p-subs {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #696969;
}


/*category styles*/
.category {
    padding: 30px 0;
    margin: 30px 0;
}
/*recent properties*/
.recent-properties{
    padding: 30px 0;
    margin: 30px 0;
}

/*card-styles*/
.wrapper-section{
    max-width: 1440px;
}
.text-container {
    margin-top: 10px;
}
.wrapper-card {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}

.apartment-card {
    max-width: 350px;
    /*min-width: 280px;*/
    max-height: 450px;
    /*min-height: 370px;*/
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 8px;
    padding: 0;
    border: 1px solid #E6E9EC;
    border-radius: 3px;
}
.apartment-card:hover{
    z-index: 10;
    transition: all 2s inherit;
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}
.section-card {
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0;
    padding: 0;
    height: 100%;
}
.apartment-card-image{
    margin: 0;
    padding: 0;
}
.text-wiews{
    display: flex;
    flex-direction: column;
}
.apartment-card-image:hover {
    transform: scale(1.2);
    transition: all ease-in-out 1s;
    border-radius: 5px;
}
.image-card-no {
    width: 100%;
    min-height: 220px;
    max-height: 240px;
    height: 100%;
    padding: 0;
    margin: 0;
}
.image-card {
    width: 100%;
    min-height: 220px;
    max-height: 240px;
    height: 100%;
    padding: 0;
    margin: 0;
}
.apartment-card-address {
    padding: 0 24px;
    display: flex;
    margin-top: 15px;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.apartment-card-address-name {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 150% */
    /* Color / 2 */
    color: #0D263B;
    padding: 0;
    margin: 0 25px;
}
.equipment{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 5px 0;
}
.equip-1{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}
.equip-1 img{
    width: 20px;
    height: 20px;
}
.price-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    margin-bottom: 10px;
}
.prices-min{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}
.price-min-image{
    width: 40px;
    height: 40px;
}
.prices-heart {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
}
.prices-heart img{
    margin: 0 10px;
}
.apartment-card-address-address {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 20px;
    padding: 5px 20px;
    /* identical to box height, or 143% */
    /* Text / Color */
    color: #696969;
    margin: 0 25px;
}


/*detail Image Container*/

.item-image-container{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.item-image-left{
    margin-right: 10px;
    width: 80%;
}
.item-image-left img{
    width: 100%;
    height: 100%;
    max-height: 400px;
    min-height: 300px;
}
.item-image-right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 100%;
    min-height: 300px;
    max-height: 400px;
}
.item-image-top, item-image-bottom{
    width: 100%;
    max-height: 200px;
    margin: 5px 0;
}
.item-image-top img{
    width: 100%;
    height: 100%;
    max-height: 195px;
}
.item-name {
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 32px;
    /* identical to box height, or 133% */
    letter-spacing: -0.02em;
    /* text/1 */
    color: #0D263B;
    margin-top: 20px;
}
.location {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    /* identical to box height, or 156% */
    /* Color/2 */
    color: #0D263B;
}
.decription-data{
    width: 100%;
    border: 1px solid #696969;
    padding: 10px;
}
.others{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}
iframe {
    margin: 0;
    width: 100%;
    height: 400px;
    filter: invert(100%);
}

.edit-img{
    width: 20px;
    height: 20px;
}

/* partner list */
.partner-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
    list-style: none;
    flex-wrap: wrap;
}
.partner-list li{
    padding: 0 20px;
}

/*searchBar*/
.searchbar{
    display: flex;
    margin: 20px 0;
    justify-content: flex-end;
}
.searchbar select{
    width:100px;
    border:1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.searchbar select, input {
    margin: 0 5px;
}
/*navbar media*/
@media (min-width: 0px) and (max-width: 375px) {
    header{
      width: 100%;  
      margin: 0;
      padding: 0;
    }
    .role-page{
        padding: 0 16px;
    }
    .logo-text{
        font-size: 25px;
    }
    nav{
        position: relative;
        padding: 0 16px;
        display: flex;
        width: 100%;
        max-width: 375px;
    }
    .role-page {
        padding: 0 16px;
    }
    .auth-layout {
        padding: 0 16px;
    }
    .rows-why {
        flex-wrap: wrap;
    }
    .card-why{
        width: 100%;
    }
    .nav-links{
        display: none;
        flex-direction: column;
    }
    .btn-section{
        display: none;
    }
    .nav-active {
        height: 100vh;
        align-items: start;
        padding-top: 10px;
    }
    .add-section-btn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .active-burger {
        display: block;
    }

    .close-burger {
        display: none;
    }
    .font-size-sm{
        font-size: 14px;
    }
    .burger{
        display: block;
    }
}
@media (min-width: 0px) and (max-width: 767px) {
    header {
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .auth-layout {
        padding: 0 32px;
    }
    .burger {
        display: block;
        padding-top: 10px;
    }
    .close-X{
        padding-top: 10px;
    }
    .rows-why {
        flex-wrap: wrap;
        justify-content: center;
    }
    .card-why {
        width: 50%;
    }
    .role-page {
        padding: 0 32px;
    }
    .add-section-btn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    nav {
        position: relative;
        padding: 0 32px;
        display: flex;
        width: 100%;
        max-width: 767px;
    }
    .nav-links {
        display: none;
        flex-direction: column;
        /*position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);*/
    }
    .nav-links li a{
        font-size: 30px;
    }
    .btn-section {
        display: none;
    }
    .nav-active {
        height: 100vh;
        align-items: start;
        padding-top: 10px;
    }
    .nav-links-active{
        display: flex;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .nav-links-active li{
        font-size: 30px;
    }
    .role-page {
        padding: 0 16px;
    }
    .active-burger {
        display: block;
    }

    .close-burger {
        display: none;
    }
}




/*tab navigation*/
.login-logout-card .card-header {
    padding: 0px 0px 12px 0px;
}

.login-logout-card ul.nav-tabs {
    margin: 0px 0px -12px 0px;
}

.login-logout-card li.nav-item {
    width: 50%;
}

.login-logout-card a.nav-link {
    font-size: 1rem;
    color: #495057;
    text-align: center;
    padding: 1rem;
}

.login-logout-card .card-body {
    padding: 10px 20px;
}

.actives {
    background-color: #fff;
}
