html {
  font-size: 14px;
}


.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
  margin: 0;
  padding: 0;
}
.container-pad{
    margin: 0;
    padding: 0;
}

body {
    margin-bottom: 60px;
    font-family: 'Roboto', sans-serif;
}
.role-page{
    padding: 0 130px;
}
/*header*/
nav {
    background-color: #0D263B;
    padding: 5px 130px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 10vh;
}

.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    height: 3px;
    width: 25px;
    background-color: #fff;
    margin: 5px;
    transition: transform 0.5s linear;
}
.nav-links{
    list-style-type: none;
    display: flex;
    align-items: center;
}
.nav-links li{
    margin: 0 15px;
    margin-top: 15px;
}
.nav-links li a{
    text-decoration: none;
    font-size: 18px;
}
.nav-links li a:active{
    color: firebrick;
    transition: all 0.5s linear;
}
.logo-text{
    font-size: 18px;
    margin-top: 10px;
    padding-left: 20px;
}


.close-X {
    display: none;
    cursor: pointer;
    transform: scale(1.4);
}

.btn-section {
    display: flex;
}
.add-section-btn {
    display: none;
    justify-content: center;
    align-items: center;
}
/*main section*/

.carousel{
    position: relative;
}
.dark-black{
    position: absolute;
    top: 0;
    left:0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    height: 520px;
}
.text-image{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
.text-image h1, p, h3{
    color: #fff;
    text-align: center;
    transform: scale(1.6)
}
.main {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 1440px;
}
.home-main{
    width: 100%;
    max-width: 1440px;
}

.container-main {
    margin: 0;
    padding: 0;
}
.carousel{
    margin-top: 20px;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
}

/*navbar media*/
@media (min-width: 0px) and (max-width: 375px) {
    header{
      width: 100%;  
      margin: 0;
      padding: 0;
    }
    .role-page{
        padding: 0 16px;
    }
    .logo-text{
        font-size: 25px;
    }
    nav{
        position: relative;
        padding: 0 16px;
        display: flex;
        width: 100%;
        max-width: 375px;
    }
    .role-page {
        padding: 0 16px;
    }
    .auth-layout {
        padding: 0 16px;
    }
    
    .nav-links{
        display: none;
        flex-direction: column;
    }
    .btn-section{
        display: none;
    }
    .nav-active {
        height: 100vh;
        align-items: start;
        padding-top: 10px;
    }
    .add-section-btn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .active-burger {
        display: block;
    }

    .close-burger {
        display: none;
    }
    .font-size-sm{
        font-size: 14px;
    }
    .burger{
        display: block;
    }
}
@media (min-width: 0px) and (max-width: 767px) {
    header {
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .auth-layout {
        padding: 0 32px;
    }
    .burger {
        display: block;
        padding-top: 10px;
    }
    .close-X{
        padding-top: 10px;
    }
    .role-page {
        padding: 0 32px;
    }
    .add-section-btn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    nav {
        position: relative;
        padding: 0 32px;
        display: flex;
        width: 100%;
        max-width: 767px;
    }
    .nav-links {
        display: none;
        flex-direction: column;
        /*position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);*/
    }
    .nav-links li a{
        font-size: 30px;
    }
    .btn-section {
        display: none;
    }
    .nav-active {
        height: 100vh;
        align-items: start;
        padding-top: 10px;
    }
    .nav-links-active{
        display: flex;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .nav-links-active li{
        font-size: 30px;
    }
    .role-page {
        padding: 0 16px;
    }
    .active-burger {
        display: block;
    }

    .close-burger {
        display: none;
    }
}




/*tab navigation*/
.login-logout-card .card-header {
    padding: 0px 0px 12px 0px;
}

.login-logout-card ul.nav-tabs {
    margin: 0px 0px -12px 0px;
}

.login-logout-card li.nav-item {
    width: 50%;
}

.login-logout-card a.nav-link {
    font-size: 1rem;
    color: #495057;
    text-align: center;
    padding: 1rem;
}

.login-logout-card .card-body {
    padding: 10px 20px;
}

.actives {
    background-color: #fff;
}
