[*.cs]

# CS8602: Разыменование вероятной пустой ссылки.
dotnet_diagnostic.CS8602.severity = silent

# CS8604: Возможно, аргумент-ссылка, допускающий значение NULL.
dotnet_diagnostic.CS8604.severity = silent

# CS8620: Аргумент запрещено использовать для параметра из-за различий в отношении допустимости значений NULL для ссылочных типов.
dotnet_diagnostic.CS8620.severity = silent
