@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<div class="container">
    <header>
        <div class="text-danger h1">@ViewData["Title"]</div>
        <div class="text-danger p">You do not have access to this resource.</div>
    </header>
</div>