@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="container my-3">
    <div class="row">
        <div class="col-8 offset-2">
            <ul>
                <li class="h2">Are you looking to advertise your home?</li>
                <li class="h3 text-primary">
                    On this website, which has many customers, you can put your house on the
                    site on the basis of discounts.
                </li>
                <li class="h3">
                    This is very simple for clients.
                </li>
                <li class="h3 text-primary">
                    Contact us and easily advertise your home
                </li>
                <li class="h2 text-danger">
                    Contact the admin and make the payment you like and sell your home easily.
                </li>
                <li>
                    <ul>
                        What should you do?
                        <li>1. Go to the contact section from the navigation section.</li>
                        <li>2.Send a message to the admin about your goals.</li>
                        <li>3.The answer will be sent to your email or phone number by SMS.</li>
                        <li>4.Click the <i class="text-danger">"Create rent house"</i>  button below.</li>
                        <li>
                            <a class="btn btn-primary" asp-action="CreateOwner" asp-controller="Owner">Create rent house</a>
                        </li>
                    </ul>
                     
                </li>
            </ul>
        </div>
    </div>
</div>
