
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div>
    <h1 class="">Salom my Properties</h1>
    <a href="/Owner/CreateOwner">Create your goal</a>
    <a href="/HouseValue/EditHouseItems">Edit House details</a>
    <a href="/Apartment/CreateApartment">CreateApartment</a>
</div>
