<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Houzing</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/sitehome.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Houzing.styles.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&family=Roboto:wght@700&display=swap" rel="stylesheet">
</head>
<body>
        <header>
            <nav class="nav-js">
                <a class="navbar-brand d-inline-flex text-white" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="/assets/imgs/logo.png" alt="logo" style="width: 30px; height: 36px;" />
                    <p class="h4 mx-2 logo-text">Houzing</p>
                </a>
                <div class="burger" onclick="navAnim()">
                    <div class="line-1"></div>
                    <div class="line-2"></div>
                    <div class="line-3"></div>
                </div>
                <div class="close-X">❌</div>
                <ul class="nav-links">
                    <li class="">
                        <a class="text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="">
                        <a class="text-white" asp-area="" asp-controller="Properties" asp-action="Index">Properties</a>
                    </li>
                    <li class="">
                        <a class="text-white" asp-area="" asp-controller="Contact" asp-action="Index">Contact</a>
                    </li>
                    <li class="add-section-btn">
                       <partial name="_LoginPartial" />
                    </li>
                </ul>
                <div class="btn-section">
                    <partial name="_LoginPartial" />
                </div>
            </nav>
        </header>




    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Houzing 
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
