<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Houzing</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/sitehome.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Houzing.styles.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&family=Roboto:wght@700&display=swap" rel="stylesheet">
</head>
<body>
        <header>
            <nav class="nav-js">
                <a class="navbar-brand d-inline-flex text-white" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="/assets/imgs/logo.png" alt="logo" style="width: 30px; height: 36px;" />
                    <p class="h4 mx-2 logo-text">Houzing</p>
                </a>
                <div class="burger" onclick="navAnim()">
                    <div class="line-1"></div>
                    <div class="line-2"></div>
                    <div class="line-3"></div>
                </div>
                <div class="close-X">❌</div>

                <ul class="nav-links">
                    <li class="">
                        <a class="text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="">
                        <a class="text-white" asp-area="" asp-controller="Apartments" asp-action="Index">Properties</a>
                    </li>
                    <li class="">
                        <a class="text-white" asp-area="" asp-controller="Contacts" asp-action="Create">Contact</a>
                    </li>
                    <li class="add-section-btn">
                       <partial name="_LoginPartial" />
                    </li>
                </ul>
                <div class="btn-section">
                    <partial name="_LoginPartial" />
                </div>
            </nav>
        </header>




    <div class="container mb-5" style="padding-bottom: 350px;">
        <main role="main" class="main pb-3">
            @RenderBody()
        </main>
    </div>
    

    <footer class="">
        <div class="wrapper-footer">
            <ul class="wrap-left" style="list-style: none;">
                <li class="text-white">Contact Us</li>
                <li class="">
                    <img src="/assets/icons/pin.png" alt="alt-png" />
                    329 Queensberry Street, North Melbourne VIC 3051, Australia.
                </li>
                <li>
                    <img src="/assets/icons/phone.png" alt="phone" />
                    +375259478867
                </li>
                <li>
                    <img src="/assets/icons/email 1.png" alt="Email"/>
                    support@houzing.com
                </li>
                <li class="wrapper-links">
                    <img src="/photos/gallery/124010.png" alt="facebook" />
                    <img src="/photos/gallery/Telegram_logo.svg.png" alt="telegram" />
                    <img src="/photos/gallery/87390.png" alt="instagram" />
                    <img src="/photos/gallery/174857.png" alt="linkedin" />
                </li>
            </ul>
            <ul class="wrap-right">
                <li>
                    Discover
                </li>
                <li>
                    Uzbekistan
                </li>
                <li>
                    Belorus
                </li>
                <li>
                    Russia
                </li>
                <li>
                    Kazakhstan
                </li>
            </ul>
            <ul class="wrap-right">
                <li>Lists by Category</li>
                <li>Houses</li>
                <li>Apartment</li>
                <li>Condos</li>
                <li>Offices</li>
                <li>Retail</li>
                <li>Villias</li>
            </ul>
            <ul class="wrap-right">
                <li>Lists About Us</li>
                <li>About Us</li>
                <li>Terms & Conditions</li>
                <li>Support Center</li>
                <li>Contact Us</li>
            </ul>
        </div>

        <div class="footer-bottom">
            <a class="navbar-brand d-inline-flex text-white" asp-area="" asp-controller="Home" asp-action="Index">
                <img src="/assets/imgs/logo.png" alt="logo" style="width: 30px; height: 36px;" />
                <p class="h4 mx-2 logo-text">Houzing</p>
            </a>
            <div class="text-white">
                Copyright © 2023 CreativeLayers. All Right Reserved.
            </div>
        </div>
        
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
