@using Houzing.Data;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@if(User.IsInRole("Admin"))
{
    <a class="btn btn-danger text-white mx-2 text-dark font-size-sm" asp-controller="UsersRoles" asp-action="Index">Manage User</a>
}
   
   <a class="btn" asp-controller="Deals" style="margin-right: 20px;" asp-action="ManageDeals">
       <img src="/assets/icons/House.png" style="width: 25px; height: 25px; background:white; " alt="Korzina" />
   </a>

@if (SignInManager.IsSignedIn(User))
{   
    <div class="dropdown dropdown-sm-start">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Profile
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li>
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Manage Account</a>
            </li>
            <li>
                <a class="nav-link text-dark" href="/Home/MyProperties"  title="MyProperties">My Properties</a>
            </li>
            <li>
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                </form>
            </li>

        </ul>
    </div>
}
else
{
        <a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Login">Sign In</a>
}
