@{
    Layout = "/Views/Properties/_PropertiesLayout.cshtml";
}

<div class="">
    <h1>Hellow</h1>
    <h2 class="text-dark">Salom</h2>
</div>

<a href="/Owner/Index" class="btn mt-4 btn-primary">OwnerList</a>
<a href="/Owner/CreateOwner" class="btn btn-primary">CreateOwner</a>
<a href="/Owner/EditOwner" class="btn btn-primary">CreateOwner</a>







