@{
    Layout = "/Views/Properties/_PropertiesLayout.cshtml";
}

<div class="">
    <h1>Hellow</h1>
    <h2 class="text-dark">Salom</h2>
</div>

<div class="d-flex flex-column w-25">
    <a href="/Owner/Index" class="btn mt-4 btn-primary">OwnerList</a>
    @*<a href="/Owner/EditOwner" class="btn btn-primary">EditOwner</a>*@
</div>
@*HouseItemsValue*@
<div class="d-flex flex-column w-25">
    <a href="/HouseValue/Index">HouseValue/Index</a>
</div>







