@model Houzing.Data.Houses.HouseItem

@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div>
    <h4>HouseItem Details</h4>
    <hr />
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> 
</div>
