@model List<Microsoft.AspNetCore.Identity.IdentityRole>
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Role Manager";
    Layout = "~/Views/UsersRoles/_RolesLayout.cshtml";
}
<h1>Role Manager</h1>
<form method="post" asp-action="AddRole" asp-controller="UsersRoles">
    <div class="input-group">
        <input name="roleName" class="form-control w-25">
        <span class="input-group-btn">
            <button class="btn btn-info">Add New Role</button>
        </span>
    </div>
</form>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Role</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var role in Model)
        {
            <tr>
                <td>@role.Id</td>
                <td>@role.Name</td>
                <td>
                    <form asp-controller="UsersRoles" asp-action="DeleteRole" asp-route-id="@role.Id" method="post">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                    @if (ViewData["Message"] != null)
                    {
                        <script type="text/javascript">
                            window.onload = function () {
                                alert("@ViewData["Message"]");
                            };
                        </script>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>